#App2{
  background-color: lightcyan;
  display: flex;
  gap: 20px;
  padding: 20px;
}
#app2Child1{
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
#app2Child2{
  background-color: lightskyblue;
}